## Full Year Sales Analysis


Data File - sample_sales.xlsx is provided by Ann Analyst

Examples of using accessors

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
src_file = Path.cwd() / 'data' / 'raw' / 'sample_sales_details.xlsx'
df = pd.read_excel(src_file)

In [3]:
df.head()

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   invoice          1000 non-null   object
 1   company          1000 non-null   object
 2   purchase_date    1000 non-null   datetime64[ns]
 3   sku              1000 non-null   object
 4   product          1000 non-null   object
 5   quantity         1000 non-null   int64
 6   price            1000 non-null   int64
 7   extended amount  1000 non-null   int64
 8   shipping_cost    1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 70.4+ KB

In [5]:
df['purchase_date'].dt.month

0       3
1       7
2       8
3      11
4       4
       ..
995     9
996     9
997     3
998    12
999    11
Name: purchase_date, Length: 1000, dtype: int64

In [6]:
df['purchase_date'].dt.year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
995    2019
996    2019
997    2019
998    2019
999    2019
Name: purchase_date, Length: 1000, dtype: int64

In [7]:
df['purchase_date'].dt.dayofweek

0      1
1      1
2      0
3      0
4      3
      ..
995    2
996    3
997    6
998    0
999    1
Name: purchase_date, Length: 1000, dtype: int64

In [8]:
df['purchase_date'].dt.quarter

0      1
1      3
2      3
3      4
4      2
      ..
995    3
996    3
997    1
998    4
999    4
Name: purchase_date, Length: 1000, dtype: int64

In [9]:
df['purchase_date'].dt.days_in_month

0      31
1      31
2      31
3      30
4      30
       ..
995    30
996    30
997    31
998    31
999    30
Name: purchase_date, Length: 1000, dtype: int64

In [10]:
df['purchase_date'].dt.is_month_end

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: purchase_date, Length: 1000, dtype: bool

In [11]:
df.head()

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68

In [12]:
df['purchase_month'] = df['purchase_date'].dt.month
df['purchase_year'] = df['purchase_date'].dt.year
df['purchase_qrtr'] = df['purchase_date'].dt.quarter

In [13]:
df.head()

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost,purchase_month,purchase_year,purchase_qrtr
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46,3,2019,1
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40,7,2019,3
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22,8,2019,3
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06,11,2019,4
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68,4,2019,2

# Working with strings

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   invoice          1000 non-null   object
 1   company          1000 non-null   object
 2   purchase_date    1000 non-null   datetime64[ns]
 3   sku              1000 non-null   object
 4   product          1000 non-null   object
 5   quantity         1000 non-null   int64
 6   price            1000 non-null   int64
 7   extended amount  1000 non-null   int64
 8   shipping_cost    1000 non-null   float64
 9   purchase_month   1000 non-null   int64
 10  purchase_year    1000 non-null   int64
 11  purchase_qrtr    1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 93.9+ KB

In [15]:
df['company'].str.upper()

0       REALCUBE
1          ZOOXO
2        DABTYPE
3       SKIPFIRE
4       BLUEZOOM
         ...
995         VIVA
996         VIVA
997      DABFEED
998    PHOTOBEAN
999       MYBUZZ
Name: company, Length: 1000, dtype: object

In [16]:
df['company'].str.lower()

0       realcube
1          zooxo
2        dabtype
3       skipfire
4       bluezoom
         ...
995         viva
996         viva
997      dabfeed
998    photobean
999       mybuzz
Name: company, Length: 1000, dtype: object

In [17]:
df['company'].str.title()

0       Realcube
1          Zooxo
2        Dabtype
3       Skipfire
4       Bluezoom
         ...
995         Viva
996         Viva
997      Dabfeed
998    Photobean
999       Mybuzz
Name: company, Length: 1000, dtype: object

In [18]:
df['company'].str.len()

0      8
1      5
2      7
3      8
4      8
      ..
995    4
996    4
997    7
998    9
999    6
Name: company, Length: 1000, dtype: int64

In [19]:
df['upper_company'] = df['company'].str.upper()

In [20]:
df.head()

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost,purchase_month,purchase_year,purchase_qrtr,upper_company
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46,3,2019,1,REALCUBE
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40,7,2019,3,ZOOXO
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22,8,2019,3,DABTYPE
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06,11,2019,4,SKIPFIRE
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68,4,2019,2,BLUEZOOM

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   invoice          1000 non-null   object
 1   company          1000 non-null   object
 2   purchase_date    1000 non-null   datetime64[ns]
 3   sku              1000 non-null   object
 4   product          1000 non-null   object
 5   quantity         1000 non-null   int64
 6   price            1000 non-null   int64
 7   extended amount  1000 non-null   int64
 8   shipping_cost    1000 non-null   float64
 9   purchase_month   1000 non-null   int64
 10  purchase_year    1000 non-null   int64
 11  purchase_qrtr    1000 non-null   int64
 12  upper_company    1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(5)
memory usage: 101.7+ KB

In [22]:
df['extended amount'] * .9

0      290.7
1      378.0
2      144.9
3      182.7
4      615.6
       ...
995   -153.0
996    489.6
997    520.2
998    243.0
999    734.4
Name: extended amount, Length: 1000, dtype: float64

In [23]:
df['extended amount'].mul(.9)

0      290.7
1      378.0
2      144.9
3      182.7
4      615.6
       ...
995   -153.0
996    489.6
997    520.2
998    243.0
999    734.4
Name: extended amount, Length: 1000, dtype: float64

In [24]:
df['new_price'] = 1.05 * df['price']
df['new_extended_amount'] = df['new_price'] * df['quantity']

In [25]:
df.head()

,invoice,company,purchase_date,sku,product,quantity,price,extended amount,shipping_cost,purchase_month,purchase_year,purchase_qrtr,upper_company,new_price,new_extended_amount
0,ZN-870-29,Realcube,2019-03-05,L-Y-71,shirt,19,17,323,6.46,3,2019,1,REALCUBE,17.85,339.15
1,JQ-501-63,Zooxo,2019-07-09,E-532,book,30,14,420,8.40,7,2019,3,ZOOXO,14.70,441.00
2,FI-165-58,Dabtype,2019-08-12,S-909,poster,7,23,161,3.22,8,2019,3,DABTYPE,24.15,169.05
3,XP-005-55,Skipfire,2019-11-18,B-B-5,pen,7,29,203,4.06,11,2019,4,SKIPFIRE,30.45,213.15
4,NB-917-18,Bluezoom,2019-04-18,L-477,poster,36,19,684,13.68,4,2019,2,BLUEZOOM,19.95,718.20

In [26]:
df[['extended amount', 'new_extended_amount']].sum()

extended amount        510270.0
new_extended_amount    535783.5
dtype: float64