In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
src_file = Path.cwd() / 'data' / 'raw' / 'customer_master.xlsx'

In [3]:
# Read in the right sheet
#df = pd.read_excel(src_file, sheet_name = 'customers')

# version 2
df = pd.read_excel(src_file, sheet_name = 'customers', dtype={'zip_code': 'str'})

In [4]:
# Check the data
df.head()

,company_name,channel,zip_code,city,state,account_num,total_sales
0,Universal Technology Vision,retail,22910,Charlottesville,VA,AH5590,1257912
1,East Design Hill,retail,66546,Wakarusa,KS,OL0453,1158564
2,Studio Pacific Galaxy,retail,79698,Abilene,TX,YR6861,1663488
3,Galaxy Building,retail,85275,Mesa,AZ,AS3124,1193560
4,Resource Innovation Future,retail,97013,Canby,OR,DK1362,958040

In [5]:
# Zip Code is not the right format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  50 non-null     object
 1   channel       50 non-null     object
 2   zip_code      50 non-null     object
 3   city          50 non-null     object
 4   state         50 non-null     object
 5   account_num   50 non-null     object
 6   total_sales   50 non-null     int64
dtypes: int64(1), object(6)
memory usage: 2.9+ KB

In [6]:
# Useful to look at numbers
df.describe()

        total_sales
count  5.000000e+01
mean   2.529873e+06
std    2.482702e+06
min    7.462160e+05
25%    1.115702e+06
50%    1.328859e+06
75%    1.705738e+06
max    9.121596e+06

In [7]:
# Bring in everything
df.describe(include='object')

                       company_name channel zip_code    city state account_num
count                            50      50       50      50    50          50
unique                           50       3       50      48    31          50
top     Universal Technology Vision  retail    22910  Dawson    VA      AH5590
freq                              1      38        1       2     4           1

In [8]:
df['channel'].value_counts()

channel
retail      38
reseller    10
partner      2
Name: count, dtype: int64

In [9]:
df['total_sales'].sum()

126493662

In [10]:
last_year_sales = df['total_sales'].sum()

In [11]:
print(f"{last_year_sales:,.0f}")

126,493,662

In [12]:
commission_target = 1_000_000
effective_rate = commission_target / last_year_sales
print(f"{effective_rate:,.2%}")

0.79%

In [13]:
print(f"{effective_rate:,.2%}")

0.79%

In [14]:
# How much would we commission per customer then?

In [15]:
df['commission'] = effective_rate * df['total_sales']

In [16]:
df.head()

,company_name,channel,zip_code,city,state,account_num,total_sales,commission
0,Universal Technology Vision,retail,22910,Charlottesville,VA,AH5590,1257912,9944.466625
1,East Design Hill,retail,66546,Wakarusa,KS,OL0453,1158564,9159.067590
2,Studio Pacific Galaxy,retail,79698,Abilene,TX,YR6861,1663488,13150.761656
3,Galaxy Building,retail,85275,Mesa,AZ,AS3124,1193560,9435.729673
4,Resource Innovation Future,retail,97013,Canby,OR,DK1362,958040,7573.818204

In [17]:
df['commission'] = df['commission'].round(0)

In [18]:
df

,company_name,channel,zip_code,city,state,account_num,total_sales,commission
0,Universal Technology Vision,retail,22910,Charlottesville,VA,AH5590,1257912,9944.0
1,East Design Hill,retail,66546,Wakarusa,KS,OL0453,1158564,9159.0
2,Studio Pacific Galaxy,retail,79698,Abilene,TX,YR6861,1663488,13151.0
3,Galaxy Building,retail,85275,Mesa,AZ,AS3124,1193560,9436.0
4,Resource Innovation Future,retail,97013,Canby,OR,DK1362,958040,7574.0
5,Internet Hill Systems,retail,74360,Picher,OK,KK6153,970886,7675.0
6,Pacific Hill Application,retail,49862,Munising,MI,MS1866,1271136,10049.0
7,Net Electronic,retail,42631,Marshes Siding,KY,WA1826,1101414,8707.0
8,Software Bell Technology,retail,45342,Miamisburg,OH,XJ1430,942044,7447.0
9,Innovation Net,retail,20390,Washington,DC,NS1312,1010872,7991.0
10,Innovation Software Net,retail,11789,Sound Beach,NY,IU9782,1192852,9430.0
11,Technology Net Star,retail,26070,Wellsburg,WV,OF9673,1398454,11056.0
12,Federated Virtual Star,retail,93438,Lompoc,CA,FF0339,1184974,9368.0
13,Contract Electronics Industries,retail,24153,Salem,VA,GG0303,1035050,8183.0
14,Hill Telecom Bell,reseller,70441,Greensburg,LA,VG4175,6557928,51844.0
15,Hill Contract,retail,48184,Wayne,MI,AF4815,1612006,12744.0
16,Data Solutions,retail,36609,Mobile,AL,VJ0735,1429086,11298.0
17,Venture Construction,retail,06016,Broad Brook,CT,EE4079,1559544,12329.0
18,Architecture Application,retail,31738,Coolidge,GA,GU9612,1020258,8066.0
19,Speed Resource Vision,retail,64074,Napoleon,MO,EB0265,746216,5899.0
20,Star Interactive,retail,22153,Springfield,VA,UM2244,1541486,12186.0
21,Solutions North,reseller,62520,Dawson,IL,QZ1799,6958500,55011.0
22,Frontier North Universal,retail,29079,Lydia,SC,MW1000,1435288,11347.0
23,Analysis Future Provider,retail,06087,Unionville,CT,VK4512,1370404,10834.0
24,Interactive Bell,retail,32233,Atlantic Beach,FL,BX6191,1042578,8242.0
25,Analysis Universal,reseller,15428,Dawson,PA,GU6442,6222564,49193.0
26,Hardware Adventure Universal,retail,67118,Norwich,KS,GA3939,1163380,9197.0
27,Alpha Electronics,retail,64840,Diamond,MO,UJ1486,1162036,9187.0
28,South Speed East,reseller,83856,Priest River,ID,KI8637,7853376,62085.0
29,Virtual Vision Data,retail,77501,Pasadena,TX,YA6348,1440886,11391.0
30,Innovation Speed,retail,02493,Weston,MA,HB1781,974088,7701.0
31,West Max Hardware,reseller,64738,Collins,MO,MH1146,8807964,69632.0
32,Telecom North Resource,reseller,28170,Wadesboro,NC,RJ3363,7008576,55407.0
33,Electronic Max North,reseller,50624,Dike,IA,SD6881,6548220,51767.0
34,Signal Hill Bell,reseller,68631,Creston,NE,HC3828,9121596,72111.0
35,Solutions Hill Hardware,retail,26570,Fairview,WV,MN7927,1020236,8066.0
36,Contract Solutions Resource,retail,39146,Pickens,MS,KI6467,1333056,10539.0
37,Solutions Pacific,partner,20570,Washington,DC,ZJ6565,3817416,30179.0
38,Telecom Medicine Design,retail,04097,North Yarmouth,ME,PU1364,1530912,12103.0
39,Federated Data Star,retail,29368,Mayo,SC,VV3110,814596,6440.0
40,Net Building,retail,25547,Pecks Mill,WV,EH2638,1324662,10472.0
41,Advanced Alpha Federated,reseller,56023,Delavan,MN,SM6748,6833484,54022.0
42,Atlantic Application Star,retail,21817,Crisfield,MD,SC3651,916094,7242.0
43,Signal Innovation,retail,68007,Bennington,NE,BS0601,1238732,9793.0
44,Resource Adventure Internet,retail,49752,Kinross,MI,AI9833,1580248,12493.0
45,Omega Research Data,partner,32209,Jacksonville,FL,KX0489,3185196,25181.0
46,Solutions Universal,reseller,66212,Shawnee Mission,KS,SA4443,6796068,53727.0
47,Bell Frontier Resource,retail,95172,San Jose,CA,LA6029,1719822,13596.0
48,Frontier Architecture,retail,27605,Raleigh,NC,OC5697,1168464,9237.0
49,Vision People Solutions,retail,24557,Gretna,VA,WL5283,1299450,10273.0

In [19]:
df['commission'].sum()

1000004.0

In [20]:
df['commission'].mean()

20000.08

In [21]:
df['commission'].describe().round()

count       50.0
mean     20000.0
std      19627.0
min       5899.0
25%       8820.0
50%      10506.0
75%      13485.0
max      72111.0
Name: commission, dtype: float64