### Gather data

Excel has ~1M row limit which is easy to exceed today. Pandas can read these files and process them efficiently.

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# CSV file with 1.1M rows (96MB)
# Can be read directly from the internet
df = pd.read_csv('https://talkpython.fm/2019_customer_transactions.csv')

# Read from a local file
# File is not stored in github
#csv_file = Path.cwd() / 'data' / 'raw' / '2019_customer_transactions.csv'
#df = pd.read_csv(csv_file)

In [3]:
df.head()

,cust_num,sku,category,qty,list_price,discount_rate,invoice_price,invoice_num,invoice_date_time,invoice_total
0,Z00562,PB200,pens,1,3.0,0.27,2.19,7612,2019-08-04 20:41:56.521097,2.19
1,H79033,PB24,pens,5,3.0,0.24,2.28,86854,2019-01-17 03:17:41.873383,11.40
2,U23721,PB24,pens,14,3.0,0.13,2.61,21950,2019-03-03 21:22:11.135135,36.54
3,N80809,PE11,pencils,14,2.0,0.04,1.92,23805,2019-12-19 19:54:38.391874,26.88
4,K89557,PG22,pens,10,3.0,0.06,2.82,35154,2019-02-27 20:19:52.681473,28.20

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100000 entries, 0 to 1099999
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cust_num           1100000 non-null  object
 1   sku                1100000 non-null  object
 2   category           1100000 non-null  object
 3   qty                1100000 non-null  int64
 4   list_price         1100000 non-null  float64
 5   discount_rate      1100000 non-null  float64
 6   invoice_price      1100000 non-null  float64
 7   invoice_num        1100000 non-null  int64
 8   invoice_date_time  1100000 non-null  object
 9   invoice_total      1100000 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 83.9+ MB

In [5]:
# Total the invoice amounts and count how many invoices there were
agg_func = {'invoice_total': ['sum'], 'invoice_num': ['nunique']}
df.groupby(['category']).agg(agg_func).style.format('{0:,.0f}')